<div class="wrapper" style="color:aqua">
    <div class="container main" style=" color:rgb(219, 144, 33)">
        <div class="row">
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Login to your account</header>
                    <div class="input-field">
                        <input type="text" class="input" id="email" [(ngModel)]="email" required="" autocomplete="on">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="pass" [(ngModel)]="password" required="">
                        <label for="pass">Password</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Login" (click)="onLoginClick()">
                    </div>
                    <div class="Login">
                        <span>I don't have an account <a [routerLink]="['/signup']">Sign Up here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>