<div class="wrapper" style="color: aqua">
    <div class="container main" style="color: rgb(219, 144, 33)">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src=g" alt="Login Image">
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Login to your account</header>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="text" class="input" id="email" [(ngModel)]="email" required="" autocomplete="on">
                    </div>
                    <div class="input-field">
                        <label for="pass">Password</label>
                        <input type="password" class="input" id="pass" [(ngModel)]="password" required="">
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Login" [routerLink]="['/dashboard']" >
                        <!-- (click)="onLoginClick()"> -->
                    </div>
                    <div class="Login">
                        <span>I don't have an account <a [routerLink]="['/signin']">Sign Up here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
