<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <!-- Add any content or image for the side image here -->
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Create account as User</header>
                    <div class="input-field">
                        <input type="text" class="input" [(ngModel)]="email" required autocomplete="on">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" [(ngModel)]="password" required autocomplete="on">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <button class="submit" (click)="signupasuser()">Sign Up</button>
                    </div>
                    <div class="signin">
                        <span>Already have an account? <a [routerLink]="['']">Log in here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>