body {
    background-color: #40e0d0; /* Turquoise Blue */
    margin: 0; /* Remove default body margin */
    font-family: 'Arial', sans-serif; /* Add a preferred font-family */
    color: white; /* Set text color to white */
}

.stock-container,
.portfolio-container {
    display: flex;
    background: url('../../assets/stock.jpg') center/cover; /* Replace with the actual path of your image */
    position: relative;
    background-size: cover; /* Ensure the background image covers the entire container */
}

.left-side,
.right-side,
.btn,
h1,
p,
.card-title,
.card-text,
.display-4 {
    color: white; /* Set text color to white */
}

img {
    height: 50px;
    color: white; /* Set text color to white */
}

.chatbot-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn {
    background: #3498db;
    color: white; /* Set text color to white */
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #2980b9;
}
