.container {
    display: flex;
}

.left-side {
    flex: 1;
    /* This will make the left side take up as much space as possible */
    padding: 10px;
    /* Add padding as needed */
}

.right-side {
    flex: 1;
    /* This will make the right side take up as much space as possible */
    padding: 10px;
    /* Add padding as needed */
}

img {
    height: 50px;
    color: black;
}

.chatbot-icon {
    position: absolute;
    bottom: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
}